*{
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.navbar {
  height: 90px;
  background-color: rgb(196, 24, 24);
  display: flex;
  max-height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-logo {
 max-width: 50%;
 text-align: center;
}

.App {
  font-family: sans-serif;
  width: 100%;
}

body {
  width: 100%;
  background-color: rgb(230, 227, 227);
}

/* .show-main-pokemon {
  text-align: center;
  padding: 10px;
  background-color:rgb(202, 202, 202);
  border: 1px solid black;
  min-height: 100vh;
} */

.container {
  padding: 20px 10px;
}

.pokemon-cards-view {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: stretch;
  padding-top: 10px;
}

.pkmn-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.pokemon-cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  text-align: center;
  width: 100%;;
  position: relative;
  justify-content: center;
}

.card-link {
  width: 33%; 
  padding: 10px; 
}

.pokemon-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body{
  padding-top: 17%;
  padding-bottom: 17%;
}

.card-img{
  width: 70%;
}

.card-name {
  color: rgb(12, 8, 8);
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.btns-containter-left{
  float: left;
}

.btns-containter-right{
  float: right;
}

.pokemon-btns {
  background-color: #6ed871;
  border:black;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.img-view {
  width: 100%;
}

.img-view-container {
  justify-content: center;
  display: flex;
  width: 20%;
}

.text-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-view-container label {
  color: rgb(167, 164, 164);
}

.stat-name {
  font-size: 20px;
}

.top-view {
  display: flex;
  justify-content: center;
}

.divider {
  color: rgb(167, 164, 164);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px){
  .navbar {
    height: 30px;
    background-color: rgb(196, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nav-logo {
   max-width: 25%;
   text-align: center;
  }

  .container {
    padding: 15px 5px;
  }

  .pokemon-cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  position: relative;
  justify-content: center;
  }

  .card-link {
    width: 33%;  
    padding: 5px;
  }

  .card-img{
    width: 100%;
    object-fit: contain;
    position: relative;
    bottom: 30px;
  }
  
  .card-name {
    font-size: 90%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }

  ul {
    list-style-type: none;
    font-size: 70%;
  }
}

@media (max-width: 300px){
  .navbar {
    height: 20px;
    background-color: rgb(196, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nav-logo {
   max-width: 15%;
   text-align: center;
  }

  button {
    padding: 10px 27px;
    font-size: 15px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dbf2f8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}